/* Meera */

@font-face {
    font-family: 'Meera';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/meera/Meera.woff2?v=7.0) format('woff2'), url(../fonts/meera/Meera.woff?v=7.0) format('woff'), url(../fonts/meera/Meera.ttf?v=7.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Rachana */

@font-face {
    font-family: 'Rachana';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/rachana/Rachana-Regular.woff2?v=7.0) format('woff2'), url(../fonts/rachana/Rachana-Regular.woff?v=7.0) format('woff'), url(../fonts/rachana/Rachana-Regular.ttf?v=7.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Rachana Bold*/

@font-face {
    font-family: 'Rachana';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/rachana/Rachana-Bold.woff2?v=2.0) format('woff2'), url(../fonts/rachana/Rachana-Bold.woff?v=2.0) format('woff'), url(../fonts/rachana/Rachana-Bold.ttf?v=2.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Manjari */

@font-face {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/manjari/Manjari-Regular.woff2?v=1.0) format('woff2'), url(../fonts/manjari/Manjari-Regular.woff?v=1.0) format('woff'), url(../fonts/manjari/Manjari-Regular.ttf?v=1.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Manjari Bold*/

@font-face {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/manjari/Manjari-Bold.woff2?v=1.0) format('woff2'), url(../fonts/manjari/Manjari-Bold.woff?v=1.0) format('woff'), url(../fonts/manjari/Manjari-Bold.ttf?v=1.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Manjari Thin*/

@font-face {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/manjari/Manjari-Thin.woff2?v=1.0) format('woff2'), url(../fonts/manjari/Manjari-Thin.woff?v=1.0) format('woff'), url(../fonts/manjari/Manjari-Thin.ttf?v=1.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* AnjaliOldLipi */

@font-face {
    font-family: 'AnjaliOldLipi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/anjalioldlipi/AnjaliOldLipi.woff2?v=7.0) format('woff2'), url(../fonts/anjalioldlipi/AnjaliOldLipi.woff?v=7.0) format('woff'), url(../fonts/anjalioldlipi/AnjaliOldLipi.ttf?v=7.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Dyuthi */

@font-face {
    font-family: 'Dyuthi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/dyuthi/Dyuthi.woff2?v=2.0) format('woff2'), url(../fonts/dyuthi/Dyuthi.woff?v=2.0) format('woff'), url(../fonts/dyuthi/Dyuthi.ttf?v=2.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Chilanka */

@font-face {
    font-family: 'Chilanka';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/chilanka/Chilanka-Regular.woff2?v=1.2.0) format('woff2'), url(../fonts/chilanka/Chilanka-Regular.woff?v=1.2.0) format('woff'), url(../fonts/chilanka/Chilanka-Regular.ttf?v=1.2.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* RaghuMalayalamSans */

@font-face {
    font-family: 'RaghuMalayalam';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.woff2?v=2.1.1) format('woff2'), url(../fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.woff?v=2.1.1) format('woff'), url(../fonts/raghumalayalamsans/RaghuMalayalamSans-Regular.ttf?v=2.1.1) format('truetype');
    unicode-range: U+0000-02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Suruma */

@font-face {
    font-family: 'Suruma';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/suruma/Suruma.woff2?v=1.0.0-beta) format('woff2'), url(../fonts/suruma/Suruma.woff?v=1.0.0-beta) format('woff'), url(../fonts/suruma/Suruma.ttf?v=1.0.0-beta) format('truetype');
    unicode-range: U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Keraleeyam */

@font-face {
    font-family: 'Keraleeyam';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/keraleeyam/Keraleeyam.woff2?v=2.0) format('woff2'), url(../fonts/keraleeyam/Keraleeyam.woff?v=2.0) format('woff'), url(../fonts/keraleeyam/Keraleeyam.ttf?v=2.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Uroob */

@font-face {
    font-family: 'Uroob';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/uroob/Uroob.woff2?v=2.0) format('woff2'), url(../fonts/uroob/Uroob.woff?v=2.0) format('woff'), url(../fonts/uroob/Uroob.ttf?v=2.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}


/* Karumbi */

@font-face {
    font-family: 'Karumbi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/karumbi/Karumbi.woff2?v=1.0) format('woff2'), url(../fonts/karumbi/Karumbi.woff?v=1.0) format('woff'), url(../fonts/karumbi/Karumbi.ttf?v=1.0) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}
